header li,
header nav {
  display: inline-block;
}
a {
  color: #ffffff;
  text-decoration: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: blue;
}
.contact1 {
  padding: 20px 20px;
}
header li {
  padding: 20px;
}
nav {
  padding-left: 40px;
}
header img {
  margin-top: 50px;
  margin-left: 150px;
  padding-right: 250px;
}
button {
  border-radius: 2
}
.div-service-img {
  display: inline-block;
  vertical-align: top;
}
.service-article {
  max-width: 463px;
  display: inline-block;
  }
  vertical-align: top;
.service-section {
  padding-top: 150px;
}
.service-img {
  border-radius: 15px;
  margin-top: 220px;
  margin-right: 100px;
}
.service-h2 {
  margin-bottom: 60px;
  font-size: 32px;
  color: #171717;
}
.service-p {
  font-size: 16px;
  color: #171717;
  line-height: 1.5; main
}
